.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

html {
	font-size: 24px;
}

body {
	padding: 1rem;
}

label {
	padding: 0.5rem 0;
	display: block;
}

form {
	padding-bottom: 6rem;
}

footer {
	background: white;
	border-top: 1px solid #eee;
	bottom: 0;
	left: 0;
	padding: 1rem;
	position: fixed;
	right: 0;
}

form > fieldset > legend {
	font-size: larger;
	font-weight: bold;
}

legend {
	line-height: 2;
}

form > fieldset {
	border: 0;
	padding: 0;
	margin: 0;
	margin-bottom: 1rem;
}

form > fieldset > * {
	display: none;
}

:target {
}

form > fieldset:target > * {
	display: inherit;
}
